<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="/fragments/_general :: htmlHead">
    <meta charset="UTF-8">
    <title>$Title$</title>
  </head>
  <body>
    <header th:insert="/fragments/_general :: header"> </header>

    <h2>Deine Daten aktualisieren</h2>
    <form action="#" th:action="@{/customers/edit}" th:object="${updateCommand}" method="post" class="w-25 p-3">
      <input type="hidden" name="_method" value="put" />
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='firstName', required=true)"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='middleName')"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='lastName', required=true)"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='email', required=true)"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='addressFirstLine', required=true)"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='addressSecondLine', required=true)"></div>
      <div th:replace="fragments/_form :: inputText(entityName='customer', inputField='addressThirdLine')"></div>

      <p><input type="submit" value="Submit" /></p>
    </form>
  </body>
</html>