<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
  <div th:fragment="inputText" class="form-group mb-2">
    <label class="col-sm-5 col-form-label" th:for="${inputField}" th:text="#{${entityName} + '.' + ${inputField}} + ${#objects.nullSafe(required, false) ? ' *' : ''}">First name</label>
    <input th:classappend="${#fields.hasErrors(inputField) ? 'is-invalid' : ''}" type="text" th:field="*{__${inputField}__}" />
    <div th:if="${#fields.hasErrors(inputField)}" th:errors="*{__${inputField}__}">dfsdfsdf</div>
  </div>

  <div th:fragment="inputPassword" class="form-group mb-2">
      <label class="col-sm-5 col-form-label" th:for="${inputField}" th:text="#{${entityName} + '.' + ${inputField}} + ${#objects.nullSafe(required, false) ? ' *' : ''}">Password</label>
      <input type="password" th:field="*{__${inputField}__}" />
      <div th:if="${#fields.hasErrors(inputField)}" th:errors="*{__${inputField}__}">dfsdfsdf</div>
  </div>
</body>
</html>